---

import GroupIcon from './GroupIcon.astro';


type Props = {
  icon: "square" | "cloud" | "data";
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props as Props;

---

<div class="flex flex-col items-center space-y-3 md:space-y-4 lg:space-y-5 max-w-sm md:max-w-lg lg:max-w-xl">
  <GroupIcon icon={icon} />
  <h4 class="text-primary text-lg md:text-xl lg:text-2xl text-center font-bold">
    {title}
  </h4>
  <p class="text-sm lg:text-base text-center text-secondaryText">
    {description}
  </p>
</div>