---
import Logo from "./Logo.astro"
---

<nav class="bg-white border-b-2 boder-secondary px-4 md:px-16 lg:px-28 w-full fixed top-0 z-[2]">
  <div class="max-w-screen-2xl mx-auto">
    <Logo />
  </div>
</nav>